body{
    background-color: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
#spiderman_eating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20ex;
}