:root{
    --main-white: #f0f0f0;
    --main-green: #519872;
    --main-darkgreen: #3b5249;
    --main-gray: #a4b494;
    --main-maroon: #382933;
    font-size: 16px;
    font-family: 'Open Sans';
}
*, html{
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--main-darkgreen);
}

body::-webkit-scrollbar-thumb{
    background: var(--main-green);
}

main{
    margin-top: 5rem;
    padding: 0;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a{
    color: var(--main-white);
    text-decoration: none;
}

input, textarea{
    all: unset;
}

.nav{
    height: 5rem;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: var(--main-green);
}

.nav-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    height: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content:center;
    align-items: center;
    background-color: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    overflow: hidden;
}

.name{
    color: white;
}

.title{
    font-size: 5rem;
}

.decorator{
    color: #5DFF00;
}

.description{
    font-style: oblique;
    color: white;
}


.bio{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: var(--main-gray);
    overflow: hidden;
}

.paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph p {
    width: clamp(45ch, 50%, 75ch);
}

.projects{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.project-grid{
    display: grid;
    place-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 25vh;
    margin: 1rem;
    padding: 1rem;
    background-color:  var(--main-darkgreen);
    border-radius: 1rem;
    -webkit-transition: transform 0.3s ease-out;
}

.project-card span{
    color:#5DFF00;
}


.thumbnail{
    width: 100%;
    margin-top: 1rem;
    object-fit: contain;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content:center;
    align-items: center;
    background-color: var(--main-maroon);
    overflow: hidden;
}

.contact-grid{
    display: grid;
    place-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}


.contact-details {
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    -webkit-transition: transform 0.3s ease-out;
    margin: 1rem;
    text-decoration: none;
    color: white;
}

.contact-details > i{
    font-size: 2.4rem;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease;
}

.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-maroon);
    border-radius: 1rem;
    padding: 1rem;
    width:60vw;
    max-width: 100%;
}

.modal > button{
    text-align: center;
    padding: 0 0.344rem;
    align-self: flex-end;
}


.form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form > input{
    align-self: center;
    text-align: center;
    width: 10rem;
    height: 2.5rem;
    color: white;
}

.form-name{
    display: flex;
    column-gap: 1rem;
    width:
}

.form-inputs{
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
}

.form-inputs > label{
    color: var(--main-white);
}

.form-inputs > input{
    background-color: var(--main-white);
    border-radius: .25rem;
    width: 100%;
}

.form-inputs > input:focus{
    outline: var(--main-white);
}


.form-inputs.subject{
    justify-content: start;
}

.form-inputs.subject > input{
    width: 100%;
}

.form-inputs.textarea{
    display: flex;
    flex-direction: column;
    
}

.form-inputs.textarea > textarea{
    background-color: var(--main-white);
    border-radius: .25rem;
    font-family: inherit;
    height: 40vh;
}



footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-maroon);
    border-top: 4px solid var(--main-green);
    overflow: hidden;
    color: white;
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }

@media only screen and (max-width: 600px) {
    main{
        margin-top: 4rem;
    }
    .nav{
        height: 4rem;
    }
    .nav-list{
        justify-content: center;
    }
    .nav-link{
        font-size: 1.50rem;
        height: 4rem;
    }

    .card-title{
        font-size: 1rem;
    }

    .contact-grid{
        grid-template-columns: 1fr;
    }

    .contact .name{
        font-size: 2rem;
    }

    .name{
        font-size:3rem;
    }
    .title{
        font-size: 4rem;
    }

    .description{
        font-size: 1rem;
    }
    .contact-details, .contact-details > i{
        font-size: 1.5rem;
    }
    
    .paragraph p {
        width: 80%;
        font-size: .8rem;
    }

    .form-name{
        flex-direction: column;
        row-gap: 1rem;
    }

    .form-inputs{
        justify-content: space-around;
    }

    footer {
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    footer p{
        font-size: .75rem
    }
}

@media only screen and (max-width: 325px) {
    main{
        margin-top: 3rem;
    }
    .nav{
        height: 3rem;
    }
    .nav-list{
        justify-content: center;
    }
    .nav-link{
        font-size: 1.25rem;
        height: 3rem;
        padding: 0 .75rem;
    }

    .contact-grid{
        grid-template-columns: 1fr;
    }

    .contact .name{
        font-size: 1.5rem;
    }
    .contact .description{
        font-size:1rem;
    }

    .name{
        font-size: 2rem;
    }
    .title{
        font-size: 3rem;
    }

    .description{
        font-size: 1.5rem;
    }
    .contact-details, .contact-details > i{
        font-size: 1.5rem;
    }
    
    .paragraph p {
        width: 80%;
        font-size: .8rem;
    }

    .form-name{
        flex-direction: column;
        row-gap: 1rem;
    }

    .form-inputs{
        justify-content: space-around;
    }
    footer {
        flex-direction: column;
        text-align: center;
        overflow: hidden;
      }
    footer p{
        font-size: .5rem
    }
}

@media only screen and (min-width: 600px) {

    .contact-grid{
        grid-template-columns: 1fr 1fr;
    }

    .project-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .project-card .hidden-span{
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .project-card:hover{
        transform: translateY(1rem);
    }

    .project-card:hover .hidden-span{
        opacity: 1;
    }


    .nav-link:hover{
        background-color: var(--main-darkgreen);
    }

    .contact-details:hover {
        transform: translateY(8px);
    }

    .contact-grid{
        grid-template-columns: 1fr 1fr;
    }

    .contact .name{
        font-size: 5rem;
    }

    .name{
        font-size: 5rem;
    }
    .title{
        font-size: 5rem;
    }

    .description{
        font-size: 2rem;
    }
    .contact-details, .contact-details > i{
        font-size: 2.4rem;
    }
    
    .paragraph p {
        font-size: 1.75rem;
    }

    footer p{
        font-size: 1rem
    }

}


